body {
    font-family: Arial, sans-serif;
    background-color: lightgray; 
}


.product-box {
    display: inline-block;
    width: 250px;
    background-color: white; 
    border: 2px solid silver;
    margin: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}


.product-box:hover {
    outline: 3px solid dodgerblue; 
    outline-offset: 5px;
}


.product-box img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}


.buy-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: dodgerblue; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.buy-btn:hover {
    background-color: royalblue; 
}
